body {
  font-size: 15pt;
  background-color: #000000;
}

.maincontent {
  background-color: #000000;
  display: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}


*,
html,
body {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.navbar {
  display: flex;
}

.navbartop {
  background-color: #000000;
  position: relative;
  height: 50px;
  width: 100%;
}




.navbartitle {
  color: white;
  float: left;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.topcontent {
  display: flex;
  background-color: #000000;
  width: 100%;
  height: 400px;
  position: relative;

}

.title {
  color: #23cb5c;
  font-size: 40px;
  text-align: center;
  list-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



.titlecontent {
  width: 300px;
  /* height: 100px; */
  margin: auto;
  margin-top: 100px;
  /* background: red; */
}

.titlecontainer {
  width: 100%;
}

.tagline {
  color: ghostwhite;
  text-align: center;
  list-style: none;

}

.based {
  color: #23cb5c;
  text-align: center;
  list-style-type: none;

}

.icon {
  height: 25px;
  width: 25px;
  margin: 2px;
  /* justify-content: right; */
}

.icon:hover {
  height: 30px;
  width: 30px;
}

.images {
  width: auto;
  margin-left: auto;
  margin-top: 85px;
  margin-right: 5px;
  float: right;
  /* background-color: red; */
}



/* aboutme css
 */

.aboutcontainer {
  background-color: #242b2e;
  width: 100%;
  height: 800px;
  position: relative;

}

.myimage {
  height: 120px;
  width: 120px;
  border-radius: 5%;
  margin-top: 50px;
}

.myimagecontainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.name {
  font-size: 30px;
  color: #23cb5c;
  margin-top: 10px;
}

.country {
  font-size: 18px;
  color: #23cb5c;
  width: 250px;
  text-align: center;
}

.speech {
  color: white;
  width: 250px;
  text-align: center;
  margin-top: 10px;
}

.qualif {
  font-size: 20px;
  color: whitesmoke;
  width: 250px;
  text-align: center;
}

.aboutme {
  width: 100%;
}

span {
  color: white;
}

.green {
  color: #23cb5c;
}

.greenbg {
  background: rgb(34, 193, 195);
  background: linear-gradient(100deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.detail {
  color: whitesmoke;
  font-size: 25px;
  margin-top: 3px;
}

.details {
  margin-left: 20px;
  margin-top: 15px;
  width: 300px;

}


/* service css
 */



.servicecontainer {
  width: 100%;
  height: 1150px;
  color: #000000;
}

.servicetitle {
  width: 100%;
  font-size: 30px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
}

.bbw {
  border-bottom: 3px solid white;
}


.card {
  box-shadow: 10px 10px 18px 10px;
  background-color: #242b2e;
  height: 300px;
  width: 280px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
}


.service1title {
  color: #DC143C;
  font-size: 25px;
  width: 100%;
  padding-top: 15px;
  margin-left: 10px;
  font-weight: bold;
}

.service1desc {
  color: whitesmoke;
  width: 250px;
  padding-top: 10px;
  margin-left: 10px;
}


.service2,
.service3 {
  margin-top: 50px;
}

.orange {
  color: #F4BB44;
}

.orangebg {
  background-color: #f4bb44;
}

.redbg {
  background-color: #DC143C;
}

.red {
  color: #DC143C;
}



/* resume css
 */

.resumecontainer {
  width: 100%;
  height: 650px;
  background-color: #242c2b;
}

.resumetitle {
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 30px;
}


.educationtitle,
.certititle {
  margin-top: 40px;
  font-size: 30px;
  padding-left: 20px;
}

.edutitle {
  border-bottom: 1px solid whitesmoke;
  width: 120px;
}

.educationcontent,
.certicontent {
  color: whitesmoke;
  margin-top: 10px;
  margin-left: 5px;
}

ol li {
  margin-bottom: 10px;
}


/* skill css
 */

.skillcontainer {
  height: 650px;
  width: 100%;
  background-color: #000000;

}


.skilltitle {
  width: 100%;
  color: #23cb5c;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

.skill1 {
  margin-top: 50px;
  margin-left: 12px;
}

.outer {
  width: 300px;
  background-color: white;
  height: 15px;
  border-radius: 5px;
}

.inner {
  height: 100%;
  width: 85%;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
}

.skillname {
  color: white;
  font-size: 17px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-family: sans-serif;

}

.w75 {
  width: 75%;
  animation: slideani 5s linear;
}


.w80 {
  width: 80%;
  animation: slideani 5s linear;

}

.w70 {
  width: 70%;
  animation: slideani 5s linear;

}

.w60 {
  width: 60%;
  animation: slideani 5s linear;

}

.w90 {
  width: 90%;
  animation: slideani 5s linear;

}


.skill2 {
  margin-top: 20px;
  margin-left: 12px;
}

@keyframes slideani {
  0% {
    width: 0;

  }

  100% {
    width: 100%;
  }
}



/*project css*/

.projectcontainer {
  height: 850px;
  width: 100%;
  background-color: #242c2b;
}

.projecttitle {
  width: 100%;
  color: #23cb5c;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

.project1 {
  box-shadow: 0 4px 7px 0 #000000;
  height: 185px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 5px;
}

.project2,
.project3 {
  box-shadow: 0 4px 7px 0 #000000;
  height: 185px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 5px;
}

.project1img {
  height: 150px;
  width: 200px;
  border-bottom: 2px solid black;
  border-radius: 5px;
}

.projectdesc {
  display: flex;
  justify-content: center;
  font-family: cursive;
  color: #000000;
}



/* contact css 
 */

.contactcontainer {
  height: 750px;
  width: 100%;
  background-color: #000000;
}

.contacttitle {
  width: 100%;
  color: #23cb5c;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

.forname,
.foremail {
  color: whitesmoke;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.foremail {
  margin-top: 10px;
}

.inputs {
  margin: 40px 20px;
}

.name-input {
  width: 270px;
  height: 30px;
  border-radius: 20px;
  font-size: 17px;
}

.sendbtn {
  color: whitesmoke;
  background-color: #23cb5c;
  width: 110px;
  height: 35px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 17px;
  margin-left: 5px;
}

.contactinfodiv {
  margin-left: 20px;
  margin-top: 20px;
}

.contactinfo {
  color: #23cb5c;
  font-size: 30px;
  font-weight: bold;
  width: 200px;
}


.contactinfo-text {
  color: whitesmoke;
  font-size: 20px;
  margin-top: 20px;
  width: 270px;
  font-family: helvetica;
}

.contactinfo-details {
  margin-top: 20px;
}

.contact-detail {
  color: whitesmoke;
  margin-top: 8px;
  font-size: 22px;
}



/* scroll animation css 
 */

/* .hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
}
 
 
 
 
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion){
  .hidden{
    transition: none;
  }
}



*/


/* text and loading animation
 */
.abhay {
  position: relative;
}

.abhay:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #23cb5c;
  -webkit-text-stroke: 0vw;
  overflow: hidden;
  animation: textanimation 6s linear infinite;
}

@keyframes textanimation {

  0%,
  10%,
  100% {
    width: 100%;
  }

  70%,
  90% {
    width: 0;
  }
}


.loading {
  height: 15px;
  width: 15px;
  position: fixed;
  top: 2%;
  right: 4%;
  border-radius: 50%;
  border: 3px solid grey;
  border-top: 3px solid #23cb5c;
  animation: loadinganimation 1.5s infinite linear;
}

@keyframes loadinganimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}









@media only screen and (min-width: 600px) {
  .titlecontent {
    width: 1000px;
    margin: auto;
    margin-top: 100px;
  }

  .title {
    width: 100%;
    font-size: 80px;
  }

  .images {
    margin-top: 83px;
  }

  .tagline,
  .based {
    font-size: 30px;
  }

  .navbartitle {
    font-size: 30px;
  }

  .myimage {
    height: 450px;
    width: 400px;
    border-radius: 5%;
    margin-top: 50px;
    margin-left: 40px;
  }

  .myimagecontainer {
    display: flex;
    width: 100%;

  }

  .aboutme {
    margin-top: 50px;
    width: 100%;
    margin-left: 100px;

  }

  .name {
    font-size: 45px;
    color: #23cb5c;
    margin-top: 10px;
    border-bottom: 3px solid whitesmoke;
  }

  .country {
    font-size: 28px;
    color: #23cb5c;
    width: 350px;
    text-align: center;
  }

  .speech {
    color: white;
    width: 350px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
  }

  .qualif {
    font-size: 30px;
    color: whitesmoke;
    width: 350px;
    text-align: center;
  }

  .aboutresp {
    display: flex;
  }

  .detail {
    color: whitesmoke;
    font-size: 35px;
    margin-top: 4px;
  }

  .details {
    margin-left: 40px;
    margin-top: 20px;
    width: 600px;
  }

  .servicecontainer {
    height: 450px;
  }


  .services {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }

  .service1 {
    margin-top: 50px;
  }

  .resumecontainer {
    height: 500px;
  }

  .resume {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  .education,
  .certificate {
    max-width: 400px;
    margin-left: 50px;
 
  }

  /*   .certificate{
  margin-left: 120px;
}

*/

  .education {
    margin-left: 150px;
  }

  .skills {
    display: flex;
  }


  .skilldiv1 {
    margin: 0 200px;
  }

  .skilldiv2 {
    margin: 29px 100px;
  }

  .skillcontainer {
    height: 450px;
  }

  .projectcontainer {
    height: 400px;
  }

  .projectdiv {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }

  .project1 {
    
  }

  .project3 {
    
  }

  .contactdiv {
    display: flex;
  }

  .inputs {
    width: 50%;
    padding-left: 10%;
  }

  .contactcontainer {
    height: 400px;
  }

  .contactinfodiv {
    width: 50%;
  }

  .name-input {
    width: 350px;
    font-size: 23px;
  }

  .forname,
  .foremail {
    font-size: 20px;
  }

}
